<!DOCTYPE html>

<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        
        <img src="/img/profile.jpg" alt="profile" class="portrait">
        <p>{{ desc }}</p>
    </div>

    {{>footer}}
</body>

</html>